<h2>Register</h2>
<form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm.value)">
  <div>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstNameInput" required ngModel />
  </div>
  <div>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastNameInput" required ngModel />
  </div>

  <div>
    <!-- TODO Organization should ideally be an auto-complete field or similar? -->
    <label for="organization">Organization:</label>
    <input type="text" id="organization" name="organizationInput" ngModel />
  </div>

  <div>
    <label for="contactEmail">Contact Email:</label>
    <input type="email" id="contactEmail" name="contactEmailInput" ngModel />
  </div>
  <div>
    <label for="contactPhone">Contact Phone:</label>
    <input type="tel" id="contactPhone" name="contactPhoneInput" ngModel />
  </div>

  <button type="submit">Register</button>
</form>
