<div *ngIf="viewStateService.CurrentUser === null">
  You must be signed in to list a donation need. Please log in.
</div>
<div *ngIf="viewStateService.CurrentUser !== null">
  <h2>List donation need</h2>
  <form #donationNeedForm="ngForm" (ngSubmit)="onSubmit(donationNeedForm.value)">
    <div>
      <label for="itemName">Need description:</label>
      <input type="text" id="itemName" name="itemInput" required ngModel />
      <label for="itemQuantity">Quantity:</label>
      <input type="number" id="itemQuantity" name="itemQuantityInput" required ngModel />
      <label for="itemUnits">Of what?</label>
      <input type="text" id="itemUnits" name="itemUnitsInput" required ngModel />
    </div>

    <button type="submit">Submit donation request</button>
  </form>
</div>
