<div *ngIf="viewStateService.CurrentUser === null">
  You must be signed in to donate items. Please log in.
</div>
<div *ngIf="viewStateService.CurrentUser !== null">
  <h2>Donate items</h2>
  <form #offerItemsForm="ngForm" (ngSubmit)="onSubmit(offerItemsForm.value)">
    <div>
      <label>Items:</label>
      <div *ngFor="let donationItem of donationItems; index as i">
        <!--[(ngModel)]="donationItem.description"-->
        <input type="text" ngModel id="item-{{i}}" name="item-{{i}}" />
        <button (click)="onDeleteItemClick($event, i)">Delete</button>

        <!--name="deleteButton-{{i}}"-->
        {{ donationItem.Description }} | {{ donationItem | json }} | item-{{i}}
      </div>
      <button (click)="onAddItemClick($event)">Add</button>
    </div>

    <div>
      <label for="donationDescription">Donation description:</label>
      <textarea rows="4" cols="50" id="donationDescription" name="donationDescriptionInput" required ngModel placeholder="Provide a detailed description of the donation you are offering."></textarea>
    </div>

    <!--<form (ngSubmit)="onSubmit()" #heroForm="ngForm">-->
    <button type="submit">Submit donation request</button>
  </form>
</div>
<!-- TODO A User always belongs to an Organization. Should they sign up,
          and then those fields would be auto-populated? -->
